html{
    padding: 0px;
    margin: 0px;
}

body{  
    min-width: 320px;
    background-color: $background;
    main{
        .titulo{
            text-align: center;
            font-size: 1em;
        }
        min-height: 100vh;
    }
}


h1{
    font-weight: 900;
    font-size: 2em;
}
h2{
    font-size: 1em;
    font-weight: 800;
}

