html{
    padding: 0px;
    margin: 0px;
}

body{  
    min-width: 320px;
    main{
        min-height: 100vh;
    }
}


h1{
    font-weight: 900;
    font-size: 2em;
}
h2{
    font-size: 1em;
    font-weight: 800;
}