// Grid: mismos estilos que pages/gallery.scss

.grid-container-img{

    .grid-item-img{
    text-align: center;
    p{
        margin: 0px;
    }
    a{
        font-size: 16px;
        text-decoration: none;
    }
    }
    
}
