// Seccion superior
main {
    .flex-container{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
        .item-img{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            .main-img{
             width: 80%;
             border-radius: 30px;
             margin: 0 auto;
            }
        }
        .flex-item{
            width: 100%;
            padding: 50px;

        }
    }

    hr{
        margin: 0 100px;
    }
    .destacados{
        text-align: center;
        p{
            margin-top: 20px;
            margin-bottom: 0px;
            font-weight: 600;
        }
    }
    .flex-container-destacados{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        .flex-item-destacados{
            width: 320px;
            padding: 50px;
            text-align: center;
    
            p{
                margin: 0px;
            }
            
            .main-img-producto{
                width: 100%;
                border-radius: 30px;
            }
        }
    }

}

// Media query mobile
@media only screen and (max-width:360px) {
    // Seccion superior
    .flex-container{
        .main-text{
            .paragraph-2{
                display: none;
            }
        }
        .item-img{
            display: none;
            .main-img{
                display: none;
            }
        }
    }
}
